@import "_variables.scss";

.beef {
  height: 30rem;
  position: relative;
}

.beef-picture {
  height: 30rem;
  clip-path: circle();
  transition: all 0.3s;
}

.beef-header {
  font-size: 3rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  text-transform: uppercase;
}

.beef:hover .beef-picture {
  filter: grayscale(50%);
}

.beef:hover .beef-header {
  opacity: 1;
  top: 50%;
}
